<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
<a href="/exit">退出</a>
    <!--<button value="exit" id="exit">退出</button>-->
</body>
<script>
//    $('#exit').click(function () {
//        $.ajax({
//            type:"get",
//            url:"/exit",
//            success:function (data) {
//                console.log(data)
//            }
//        });
//
//    })
</script>
</html>